*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    /*border: 1px solid black;*/
    background-color: #d1dce3;
    scroll-behavior: smooth;
}
html{
    overflow:hidden;
    background-color: transparent;
    height:100%;
}
#main {
    padding-top: 50px;
    transition: margin-left .5s;
    background-color:  transparent;
    border: none;
}
body{
    margin:0;
    height:100%;
    overflow: overlay;
    border: none;
}
::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    display: none;
}

.throws{
    background-color: #d5cbcb;
    width:100%;
    display: inline-block;
   
}
  
.throw-pics{
    display: flex;
    background-color: transparent;
    
}

.throw-pics > img {
    vertical-align: middle;
    aspect-ratio: 14/9;
}
.throw-pic{
    width:30%;
    height:100%;
    object-fit:cover;
    margin:auto;
}



.arts{
    margin: 15px;
    padding: 10px;
    background-color: #c3b9b9;
}


.arts > a{
    background-color: transparent;
    text-decoration: none;
    color:#442f2f;
    font-size: 24px;
}


.art-capt{
    background-color: #c3b9b9;
}

.arts > a:hover{
    font-weight: bolder;
    cursor: pointer;
}

.projects{
    background-color: #9fb39f;
    height: auto;
    justify-content:center;

}

.about{
    padding-top:50px;
    display: inline-block;
    justify-content: center;
    height: 100vh;
    position: relative; 
    width: 100%;
}


#bio > p{
    width:70%;
    margin:auto;
    padding-bottom: 15px;
    text-align: center;
}

#about-head{
    margin:auto;
    height: 100px;
}

#bio{
    margin:auto;
}

.about::before{   
    content: "";
    background-image: url('acadia.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
  
}

.contact{
    display: inline-block;
    height: auto;
    width: 100%;
    background-color: #a7c2d1;
}

.top-bar{
    width:100%;
    position: fixed;
    top:0;
    z-index: 999;
    background-color: #b49b9b;
    justify-content: right;
}

.dropbtn {
    background-color:#b49b9b;
    color: black;
    padding: 16px;
    width: 150px;
    font-size: 24px;
    border: none;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    width:150px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    text-align: center;
    border: 1px solid #9fb39f;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #9fb39f;}

.div-head{
    padding: 2rem;
    font-size:50px;
    text-align: center;
    background-color: transparent;
}

.grid-container {
    background-color: transparent;
    margin:3rem;
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, 250px);
  }

.grid-item{
    justify-content:center;

    padding: 1rem;
    background-color:#754c4c;
    color: white;
    text-align: center;
    height: 250px;
    width: 250px;
    border:none;
}

.project{
    border:none;
    height: 250px;
    justify-content:center;

    width: 250px;
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.proj-img{
    border:none;
    height: 90%;
    width: 100%;
    background-color: transparent;

}

.project:hover, .grid-item:hover{
    background-color: #504242;
    cursor: pointer;
}

.full-page{
    background-color: transparent;
    font-size: 30px;
    text-align: center;    
    height:70px;
}

.full-page > a{
    text-decoration: none;
    color: #c7dcc7;
    background-color: #4b524c;
    padding:5px;
    border-radius: 5px;
}

.throws > .full-page > a{
    text-decoration: none;
    color:#f8ebeb;
    background-color: #754c4c;
    padding:5px;
    border-radius: 5px;
}

.full-page>a:hover{
    font-weight: bolder;
}

.logos{
    
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    font-size: 60px;
}

.fa{
    color:#5b7c5c;
}

.fa:hover{
    text-shadow: 0 0 25px #4b524c;
}












