body{
    background-color: rgb(198, 222, 195);
}

h1{
    text-align: center;
    background-color: rgb(78, 113, 75);
    color: aliceblue;
    border-radius: 15%;
    width:40%;
    font-family:'Courier New', Courier, monospace;
}

p{
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

a{
    background-color: cadetblue;
    color: rgb(255, 255, 255);
    
}
